@import "tailwindcss";

:root {
  --background: #F8F3ED;
  --foreground: #2E2E2E;
  --primary: #ED2224;
  --white: #FFFFFF;
  --stroke: #D0D5DD;
  --gray: #444465;
  --secondary: #133040;
  --font-lexend: var(--font-lexend);
}

@theme inline {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-white: var(--white);
  --color-stroke: var(--stroke);
  --color-gray: var(--gray);
  --font-lexend: var(--font-lexend);
}




.global-padding-container{
  @apply px-4 sm:px-6 lg:px-8;
}


/* phone input */

.react-tel-input .flag-dropdown {
  bottom: -8px !important;
}

.react-tel-input .selected-flag:hover,
.react-tel-input .selected-flag:focus {
  background-color: transparent !important;
}

.react-tel-input .flag-dropdown.open .selected-flag {
  background: transparent !important;
}

.form-control {
  font-family: Lexend, Lexend Fallback !important;
  border: 1px solid #E3E3E3 !important;
  color: var(--foreground) !important;
  border-radius: 0px !important;
  padding-left: 70px !important;
  width: 100% !important;
  height: 55px !important;
  font-size: 16px !important;
}

.form-control:focus {
  border: 2px solid rgb(30, 136, 299);
}

.flag-dropdown {
  background: none !important;
  border-radius: 0 !important;
  border: 0 !important;
  left: 16px !important;
  top: -5px !important;
}

